body {
  margin:auto;
  font-family:sans-serif;
}

header {
  display:flex;
  justify-content:center;
  text-transform: uppercase;
  margin:30px 0 -30px 0;
}
.container1 {
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  justify-content:center;
  margin/:30px auto;

}
h2 {
  font-size: 20px;
  text-transform:uppercase;
  text-decoration:underline;
  text-decoration-color:green;
  text-underline-position:auto;
}
img {
  height:250px;
}
#profile {
  margin: 30px 10px;
}
.email {
  text-transform:uppercase;
  font-size:13px;
  font-weight:100;
}
a{
  text-decoration:none;
  color:lightgrey;
}
.info{
  text-transform:capitalize;
  color:grey;
  font-weight:lighter;
}
.ss{
  filter:blur(5px);
  color:green;
}
.ss:hover {
  color:green;
  filter:none;
}
